@import "variables";

.main-panel {
  height: calc(100vh - 70px);
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.card-holder {
  flex: 2;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.app-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px 2px #00000077;
  box-sizing: border-box;
  transition: 0.25s;
  overflow: hidden;
  margin: 10px;
}

.app-card-contents {
  padding: 10px;
  background: radial-gradient(circle at 0% 100%, #a7a7a7 0%, #ffffff 30%);
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  box-shadow: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.enter {
  width: 400px;
  height: 300px;
}

.loading {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-player {
  width: 500px;
  height: 700px;

  .ability-entry {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      font-size: 1.4em;
    }
  }
}

.race-info {
  @extend .app-card-contents;
  width: 250px;
  height: 400px;

  > * {
    width: 100%;
  }

  > h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }

  > .trait-section {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

    > h2 {
      text-align: center;
      font-weight: normal;
    }
  }

  > .info-section {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  > .gem-socket {
    align-self: flex-end;
  }
}

.class-info {
  @extend .app-card-contents;
  width: 300px;
  height: 350px;

  > * {
    width: 100%;
  }

  > h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }

  > .info-section {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  > .equip-section {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  > .gem-socket {
    align-self: flex-end;
  }

  .invalid {
    color: $failure-color;
    text-decoration: line-through;
  }
}

.alignment-info {
  @extend .app-card-contents;
  width: 300px;
  height: 350px;

  > * {
    width: 100%;
  }

  > h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }

  > .gem-socket {
    align-self: flex-end;
  }
}
