@import "variables";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100vw;
  height: 100vh;
  display: flex;
}

#root > .panel {
  background-color: white;
  border-right: 1px solid gray;
  flex: 1;
  min-width: 500px;

  &:last-child {
    border: none;
  }

  > .panel-header {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 70px;
    background-color: $main-color-dark;
  }

  > .panel-contents {
    width: 100%;
    padding: 20px;
    height: calc(100% - 70px);
    box-sizing: border-box;
    transition: 0.2s;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
  }
}

h1, h2 {
  margin: 0;
}

form {

  &.enter-form {
    height: 300px;
    width: 50%;
  }

  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;

  > .color-bar {
    height: 10px;
    width: calc(100% + 40px);
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(30deg, $main-color, $main-color-dark);
  }

  > .section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
    width: 100%;

    > h1 {
      margin-bottom: 15px;
    }

    > .ability-roll {
      margin-bottom: 20px;

      > .rolls-display {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    }

    > .ability-entry {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > span {
        font-size: 1.4em;
      }
    }

    > .ability-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    > textarea {
      width: 90%;
      height: 300px;
      resize: none;
    }

    &.hidden {
      height: 0;
    }
  }
}

@media screen and (max-width: 1499px) {
  #root > .panel:nth-child(3) {
    display: none;
  }
  #root > .panel:nth-child(2) {
    border: none;
  }
}

@media screen and (max-width: 999px) {
  #root > .panel:nth-child(2) {
    display: none;
  }
  #root > .panel:nth-child(1) {
    border: none;
  }
}
